body {
  max-width: 100%;
  font-family: sans-serif;
}

.container {
  border: 1px solid #bbb;
  margin: 2em;
}

.selector {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}

.selector #leftSide {
  margin-right: 150px;
}

#viewer {
  min-height: 800px;
  display: flex;
  justify-content: center;
}

#rightSideContainer {
  margin: auto;
  opacity: 1;
}

#leftSideContainer, #rightSideContainer, #middleContainer {
  width: 800px;
  height: 800px;
  background-repeat: no-repeat;
}

#leftSideContainer {
  border-right: 1px dotted #000;
}

canvas {
  display: none;
}

#leftSideInfoText, #rightSideInfoText {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.2em 0.5em;
  border: 1px dotted #ccc;
}
